bin
doc
basis-sets/userdef.txt
src/preprocessed
src/obj
src/__pycache__
src/integrals/Auto2e/obj
src/integrals/Auto2e/__pycache__
src/*.mod
src/*.o
.bzr
.bzrignore
*.~1~
*.~2~
*.~3~
*.~4~
src/CompilerFlags/default
src/CompilerFlags/linker-default
src/CompilerFlags/modules-default
*.pkl
example.inp
example.log
example-intel-coarray.conf
